@{
    ViewData["Title"] = "Home Page";
}

<div class="main-cadastrar">
    <div class="left-cadastrar">
        <h1>Bem-vindo à<br /> Central de Alunos<br /><u>da PontoiD.</u></h1>
        <img src="/css/learning-animate.svg" class="left-cadastrar-image" alt="aluno" />
      </div>
    <div class="right-cadastrar">
        <div class="card-cadastrar">
            <h1 class="btn-cadastrar">Cadastrar</h1>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Escolas" asp-action="Index">Escola</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Turmas" asp-action="Index">Turma</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Alunos" asp-action="Index">Aluno</a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
</div>
